
.DS_Store

Frans.Xamarin.iOS.AudioPlayer/Example/bin/
Frans.Xamarin.iOS.AudioPlayer/Example/obj/
Frans.Xamarin.iOS.AudioPlayer/AudioPlayer.Source/bin/
Frans.Xamarin.iOS.AudioPlayer/AudioPlayer.Source/obj/